@use 'src/styles/colors';

.rk-game-square {

    width: 100%;
    border: 1px solid rgb(180, 180, 180);

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .rk-game-square-content {
        position: relative;
        width: 100%;
        height: 100%;

        background-color: rgb(231, 231, 231);

        &.rk-highlight {
            background-color: colors.$rk-square-highlight;
        }

        &.player-o {
            &::after {
                content: "\20dd";
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                color: colors.$rk-player-o; 
            }
        }
        &.player-x {
            &::after {
                content: "\2a2f";
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                color: colors.$rk-player-x; 
            }
        }
    }
}